<a href="https://colab.research.google.com/github/galaceangela/Filtering-Practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_bike = pd.read_csv ('https://raw.githubusercontent.com/galaceangela/Filtering-Practice/main/RailsToTrails_National%20Count%20Data_week%20(1).csv')

In [3]:
df_bike.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_data = (df_bike [df_bike['Week of'] >= '31-July'])
df_data.head()

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [5]:
df_fil = df_bike['Week of'] >='31-July'
df_fil.head()

0    False
1    False
2    False
3    False
4    False
Name: Week of, dtype: bool

In [6]:
df_bike[df_fil].head()

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [7]:
df_bike.loc[df_fil, :].head()

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [8]:
df = df_bike.loc[df_fil, :]
df['Week of'].value_counts()

Series([], Name: Week of, dtype: int64)

In [9]:
df_bike['Change 2019-2020'].value_counts()

32%     3
26%     2
11%     2
25%     2
38%     2
98%     2
33%     2
35%     2
43%     2
28%     2
55%     1
7%      1
21%     1
15%     1
47%     1
23%     1
36%     1
37%     1
44%     1
41%     1
79%     1
40%     1
3%      1
51%     1
9%      1
27%     1
18%     1
58%     1
66%     1
39%     1
81%     1
217%    1
136%    1
173%    1
193%    1
95%     1
65%     1
116%    1
92%     1
22%     1
-3%     1
Name: Change 2019-2020, dtype: int64

In [10]:
df_bike = df_bike.loc[df_fil, :]

In [11]:
df_bike['Change 2019-2020'].value_counts()

Series([], Name: Change 2019-2020, dtype: int64)

In [12]:
df.head()

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [13]:
df_change = df_bike['Change 2019-2020'] >'100%'
df_change.head()

Series([], Name: Change 2019-2020, dtype: bool)

In [14]:
df = (df_bike [df_bike['Change 2019-2020'] > '100%'])
df

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [17]:
df_change = df_bike['Change 2019-2020'] >'100%'
df_bike= df_bike.loc[df_change, :]
df_bike['Change 2019-2020'].value_counts(dropna = False)

Series([], Name: Change 2019-2020, dtype: int64)

In [18]:
df_bike = df_bike.loc[df_fil & df_change, :]

In [19]:
df_bike

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]